@keyframes fadeInLeft {
	0% {
			opacity: 0;
			transform: translate3d(-100%, 0, 0);
	}
	to {
			opacity: 1;
			transform: translateZ(0);
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 1;
			transform: translateZ(0);
	}
	to {
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}
}

@font-face {
  font-family: 'DungGeunMo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: 'DungGeunMo';
}

body{
background: rgb(192, 192, 192);
position: relative;
background-image: url(/LuckyRoulette/img/background.jpg);
}

.topTitle{
	width: 80%;
	height: 300px;
	/* background: red; */
	position: relative;
	top:40px;
	left: 9%;
	background: url('../img/logo.png') no-repeat center;
  z-index: 10;
	animation: fadeInLeft 1s;
}

/*  게임설명 */
.gif{
	margin: 0 auto;
	width: 1300px;
	position: relative;
	top: 50px;
	/* background: red; */
	/* z-index: 100; */
}
.gif ul{
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 40px;
	justify-content: space-around;
}
.gif ul:hover{
	/* color: red; */
}
.gif ul li:hover{
	color: #018f54;
}


.rouletter {
  position: relative;
	margin-top: 6%;
	margin-left: 40%;
  width: 400px;
  height: 400px;

	animation: jumping 1.5s alternate;
}

.StartContainer{
	width: 100%;
	height: 99vh;
	background-image: url(/LuckyRoulette/img/background.jpg);
	/* background: rgb(209, 209, 209); */
	position:absolute;
	z-index: 10;
}

.StartContainer .Description{
	position: absolute;
	top:40%;
	left:30%;
	font-size: 55px;
	color: #eee;
	animation: fadeInLeft 1s;

}
.StartContainer .GameStart{
	position: absolute;
	top:50%;
	left:42%;
	font-size: 55px;
	/* color: white; */
	/* background: gold;
	border: 15px double greenyellow;
	border-radius: 50%; */
	padding: 30px;
  border: none;
	/* text-shadow: 3px 4px 5px black; */
	animation: fadeInLeft 1s;
	cursor: pointer;
	width: 300px;
	height: 150px;
	background: url('../img/startButton.png') no-repeat center;
}

@keyframes jumping {
	from {
    top: -400px;
  }
  to {
    top: 0px;
  }
}


.rouletter-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 472px;
  height: 472px;
  border-radius: 472px;
  overflow: hidden;
}
.rouletter-wacu {
  width: 100%;
  height: 100%;
  /* background: #f5f5f2
    url("https://m.lifeplanet.co.kr:444/commons/slink/administrator/openInnovation/img/MO)%20360%ED%94%8C%EB%9E%98%EB%8B%9B_%EB%A3%B0%EB%A0%9B%ED%8C%90_476x476_201026.png")
    no-repeat; */
		background: #f5f5f2
    url("../img/Roulette.png")
    no-repeat;
  background-size: 100%;
  transform-origin: center;
  transition-timing-function: ease-in-out;
  transition: 2s;
}
.rouletter-arrow {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 1px;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 40px solid red;
  border-bottom: 0px solid transparent;
}
.rouletter-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border-radius: 80px;
  background: #fff;
  border-image: linear-gradient(to right, #fbfcb9be, #ffcdf3aa, #65d3ffaa);
  border: 2px solid;
}

.hidden-input {
  display: none;
}
/* 종료 창 영역 - 다른 게임 넘어가는 창 */
.endContainer{
	
	width: 25%;
	height: 50%;
	/* background: rgba(0,0,0,0.3); */
	position:absolute;
	top:25%;
	left: 38%;
	background:#fff;
	/* border: 10px double goldenrod; */
	border-radius: 10%;
	z-index: 11;
}
.endContainer .endMessage{
	color: #222;
	font-size: 2.8em;
	position: absolute;
	top: 20%;
	left: 15%;
	/* background:rgb(184, 60, 157); */

}
.endContainer .endMessage2{  
	color: #222;
	font-size: 1.5em;
	position: absolute;
	top: 45%;
	left: 16%;
	width: 500px;
	/* background:rgb(184, 60, 157); */
	margin: 0 auto;
}

.endContainer .applyBtn{
	color: #222;
	position: absolute;
	top: 70%;
	left: 21%;
	padding: 10px;
	font-size: 55px;
	background:rgb(197, 189, 178);
	border: 3px solid #eee;
	cursor: pointer;
	/* position: absolute; */
	/* display: block; */
}
.applyBtn:hover {
  background: #018f54;
  color: white;
}

body {
  font-family: Arial, sans-serif;
}

.gif ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.gif ul li {
  margin: 10px;
  cursor: pointer;
}

.game-description {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: none;
}


.imgBox {
	/* background: red; */
  width: 300px;
  height: 400px;
  position: absolute;
  bottom: 30px;
  left: 1300px;
  /* transform: translate(-50%, -50%); */
  z-index: 1000;
  border: 5px solid #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  display: none;
}

.gif ul li img{
	display: none;
}
.gif ul li:hover{
	display: block;
}


/* 옵션 */
.disable{
	opacity: 0;
	}
	.Hidden{
		display: none;
	}