 @font-face {
	font-family: 'LAB디지털';
	src: url('../font/LAB디지털.ttf');
} 
 @import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

@import url(`ttps://fonts.googleapis.com/css?family=Press+Start+2P&display=swap`); 

@import url('https://fonts.cdnfonts.com/css/pixar');

@keyframes fadeInLeft {
	0% {
			opacity: 0;
			transform: translate3d(-100%, 0, 0);
	}
	to {
			opacity: 1;
			transform: translateZ(0);
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 1;
			transform: translateZ(0);
	}
	to {
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}
}



*{
	box-sizing: border-box;
	background: #222;
	
}
.StartContainer{
	width: 98%;
	height: 1100px;
	background: rgba(0,0,0,0.3);
	position:absolute;
}

.StartContainer .Description{
	position: absolute;
	top:40%;
	left:30%;
	font-size: 55px;
	color: #eee;
	animation: fadeInLeft 1s;

}
.StartContainer .GameStart{
	position: absolute;
	top:50%;
	left:42%;
	font-size: 55px;
	color: white;
	background: gold;
	border: 15px double greenyellow;
	border-radius: 50%;
	padding: 30px;
	text-shadow: 3px 4px 5px black;
	animation: fadeInLeft 1s;
	cursor: pointer;
}
.StartContainer .GameStart:hover{
	color: aquamarine;
}
.mainContainer{
border: 7px double gold;
background: #222;
display: inline-block;
width: 33%;
height: 999px;
margin-left: 33%;
margin-top: 10px;
border-radius: 30px;
}
.btnBox{
	text-align: center;
	width: 40%;
	margin-top: 20px;
	margin-left: 30%;
	border: 7px dotted gold;
	border-radius: 10px;
}
.btnBox .TopBtn{
	font-size: 55px;
	cursor: pointer;
	background: #222;
	color: #ffff;
	font-family: 'Pixar', sans-serif;
}
.TimerBox{
	/* width: 1; */
	width: 267px;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
	/* margin: ; */
	margin-left: 180px;
	display: inline-block;

}


.TimerBox .Timer{
	/* margin-left: 0px; */
	font-size: 55px;
	background: #222;
	color: #ffff;
	font-family: 'LAB디지털';
}
.Scorebox{
	width: 100px;
	display: inline-block;
	margin-left: 50px;
}
.Scorebox .Score{
	font-size: 55px;
	background: #222;
	color: #eee;
	font-family: 'LAB디지털';
}
.NumberBox{
	margin-left: 40px;
	
	/* z-index: 999; */
}
.NumberBox ul{
display: flex;
flex-wrap:wrap;
background-image : url('../img/giftBox.png');
background-repeat: no-repeat;
background-position-x: 20px;
background-position-y: 40px;
}
/* 개별 블록 */
.NumberBox li{
	font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
	width: 15%;
	height: 10%;
	background: gold;
border: 5px solid goldenrod;
text-align: center;
font-size: 60px;
margin: 10px;
padding-top: 5px;
padding-bottom: 10px;
padding-right: 1px;
cursor: pointer;
}
.NumberBox li:hover{
	background:rgb(120, 199, 56);
}
/* 옵션 */
.disable{
opacity: 0;
}
.Hidden{
	display: none;
}

/* 종료 컨테이너 */
.endContainer{
	
	width: 33%;
	height: 50%;
	/* background: rgba(0,0,0,0.3); */
	position:absolute;
	top:25%;
	left: 33%;
	background:rgb(184, 60, 157);
	border: 10px double goldenrod;
	border-radius: 10%;
}
.endContainer .endMessage{
	color: #fff;
	font-size: 50px;
	position: absolute;
	top: 30%;
	left: 29%;
	background:rgb(184, 60, 157);
}

.endContainer .applyBtn{
	color: #fff;
	position: absolute;
	top: 70%;
	left: 31%;
	font-size: 50px;
	background:rgb(184, 60, 157);
	border: 3px solid #eee;
	/* position: absolute; */
	/* display: block; */
}

.selected {
  animation: jumping 0.8s infinite linear alternate;
}
@keyframes jumping {
  0% {
      transform: translateY(0) scale(1.5);
  }
  50% {
      transform: translateY(1px) ;
  }
  100% {
      transform: translateY(2px);
  }
}